<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
<h1>Registration</h1>
<form th:action="@{/Registration}" method="post">
    <label> User Name : <input type="text" name="name"/> </label>
    <label> Password: <input type="password" name="password"/> </label>
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Accept"/>
</form>

</body>
</html>