<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<body>
<h1>Registration</h1>
<form th:action="@{/Registration}" method="post">
    <label> User Name : <input type="text" name="name"/> </label>
    <label> Password: <input type="password" name="password"/> </label>
    <!--<input type="hidden" name="_csrf" value="${_csrf.token}">-->
    <input type="submit" value="Accept"/>
</form>

<!--<form action="/Registration" method="post">
    <textarea name="name" placeholder="Create your user name" class="form-controll"></textarea><br>
    <textarea name="password" placeholder="Create your password" class="form-controll"></textarea><br>
    <button type="submit" class="btn btn-success">Accept</button>
</form>-->

</body>
</html>