<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="Blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>The daily schedule for that day</h1>
    <div th:each="el : ${scheduleDay}" class="alert-info mt-2">
        <p th:text="${el.text}"/>
    </div>

</div>

</body>
</html>