<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

        <h5 class="my-0 mr-md-auto font-weight-normal">  </h5>

        <h5  class="my-0 mr-md-auto font-weight-normal" th:inline="text"> <span th:remove="tag" sec:authentication="name">thymeleaf</span> </h5>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Main page</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/Daily_schedule">Daily Schedule</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/Booking_time">Booking time</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/Registration">Registration</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/login">Login</a>
        </nav>
    </div>
</div>

</html>
